<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.css">
    <title>CHATHOUSE</title>


<meta name="viewport" content="width=device-width, initial-scale=1">

<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div class=header_nav>
        <h2 id="headrer_2"> Welcome {{username}} you are in *{{room}}* </h2>
        <div class="header_buttons">
        <form action="{% url 'authentification:logout' %}" method="post">
            {% csrf_token %}
            <input class="logout_button" type="submit" value="Logout">
        </form>
        <form action="{% url 'authentification:home' %}" method="post">
            {% csrf_token %}
            <input class="changeroom_btn" type="submit" value="Change the room">
        </form>
    </div>
    </div>
</header>

<div id="display">

</div>



<div class="container">

    {% if user == room_details.creator %}
    <form action="{% url 'authentification:delete_room' room_details.id %}" method="post">
        {% csrf_token %}
        <input class="delete_room_btn" type="submit" value="Delete Room">
    </form>
    {% endif %}

    <form id="send_message"  enctype="multipart/form-data">
        {% csrf_token %}
        <input type="textarea" name="message" id="message" width="100px" required="required"/>
        <input type="hidden" name="room_id" id="room_id" value="{{room_details.id}}"/>
        <input id="submit_btn" type="submit" value="Send">
        <input type="hidden" name="username" id="username" value="{{username}}"/>

    </form>
</div>

</body>
<script>
    $(document).ready(function(){

        setInterval(function(){
            $.ajax({
                type: 'GET',
                url : "/getMessages/{{room}}/",
                success: function(response){
                    console.log(response);
                    $("#display").empty();
                    for (var key in response.messages)
                    {
                        var temp="<div class='container darker'><b>"+response.messages[key].user+"</b><p>"+response.messages[key].value+"</p><span class='time'>"+response.messages[key].date+"</span></div>";
                        $("#display").append(temp);
                    }
                },
                error: function(response){
                    alert('An error occured')
                }
            });
        },1000);
    })
</script>
<script type="text/javascript">
  $(document).on('submit','#send_message',function(e){
    e.preventDefault();

    $.ajax({
      type:'POST',
      url:'/send',
      data:{
          username:$('#username').val(),
          room_id:$('#room_id').val(),
          message:$('#message').val(),

        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function(data){
          document.getElementById("message").reset();
      }
    });
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.css">
<script>
    $("#message").emojioneArea()
</script>
</html>